.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.player-name h3 {
  margin-top: 5vh;
  display: flex;
}

.scorecard > div {
  display: flex;
  align-items: center;
}

.frame-container {
  display: flex;
}

.frame {
  width: 100px;
}

.frame > div {
  border: 1px solid black;
  box-shadow: 0 0 2px black;
  margin: 0 2px;
}

.rolls {
  display: flex;
  background-color: #fffe99;
}

.roll {
  width: 100%;
}

.rolls > div:not(.roll):after {
  border-right: 1px solid black;
}

.start-button,
.pin-count-controls {
  margin-top: 2vh;
}
